__pycache__/
*.pyc

model/
data/
torchmoji/
torchmoji_repo/

aml_blueprint.py
aml_logger.py
aml_response.py
appinsights/
create_app.py
gunicorn_conf.py
gunicorn_logging.conf
kill_supervisor.py
main.py
print_hook.py
run_function_exception.py
timeout_exception.py
wsgi.py
wsgi_request.py
swagger.json

